@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&family=Playball&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.titleHero {
    font-family: 'Playball', cursive;
    font-size: 60px;
}

@media (min-width: 768px) {
    .titleHero{
        font-size: 90px;
    }
}

@media (min-width: 960px) {
    .titleHero{
        font-size: 120px;
    }
}

@media (min-width: 1020px) {
    .titleHero{
        font-size: 140px;
    }
}